/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    overflow: auto;
    min-height: 100px;
    border: 1px solid steelblue;
    padding: 20px;
    border-radius: 5px;
  }
  